.modalContainer {
    position: fixed;
    top: 0;
    background-color: #090a0aeb;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.modalContainer section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6vh 2vh;
}

.modalContainer section article {
    background-color: #3c5165;
    width: 14vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.header {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}